<ion-header>
  <ion-toolbar>
    <ion-title> Динамический конструктор фронтенда на базе <em>Angular</em></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-json-form [jsonFormData]="formData"></app-json-form>
</ion-content>


